<h1>Demo#hello</h1>
<p>Demo from hello</p>

<%= 1+1 %>
<br />

<% target = "world" %>
<%= "Hello #{target}" %>

<% 3.times do %>
 <%= "xxx" %> 
<% end %>

<br />

<%= link_to("Index link - Method 2", {:action => 'index'}) %>
