<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<br />
<a href="/demo/hello"> HTML way for link generation to index page </a>

<br />
<%= link_to("Ruby generated link - Method 1", "/demo/hello") %>

<br />
<%= link_to("Ruby generated link - Method 2", {:action => 'hello'}) %>

<br />
<%= link_to("Ruby generated link - Method 3", 
            {:controller => 'demo', :action => 'hello'}) %>

<br />
<%= link_to("Params for link",
             {  :controller => 'demo', 
                :action => 'params_action',
                :id => '20',
                :page => '5' }) %>
