<h3>Demo#params</h3>

<br />
ID : <%= params[:id] %>
<br />
ID : <%= @id %>
<br />
Page : <%= params[:page] %>
<br />
Page : <%= @page %>
<br />
Next page : <%= @page.to_i + 1 %>

<hr />
<%= params.inspect %>
