<div class="students index">
<h2>Students</h2>


<%= link_to("Add new student", '#', :class => 'action new') %>

<table class="listing" summary="Students list">
    <tr class="header">
    <th>&nbsp;</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    </tr>

     <% @students.each do |student| %>
     <tr />
     <%= 1 %>
     <% end %>

</table
</div>