<div class="inspections index">
<h2>Students</h2>


<%= link_to("Add new inspection", '#', :class => 'action new') %>

<table class="listing" summary="Inspections list">
    <tr class="header">
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Description</th>
    </tr>

     <% @inspections.each do |inspection| %>
     <tr>
     <td> <%= inspection.name %> </td>
     <td> <%= inspection.description %> </td>
     </tr>
     <% end %>

</table
</div>